@import './imports/colors';
@import './imports/fonts';
@import './imports/reset';
@import './imports/nav';
@import './imports/landing';
@import './imports/services';

.container{
    display: grid;
    grid-template-rows: 70vh 150vh;
}

@media screen and (min-width: 1024px){
    .container{
        grid-template-rows: 70vh 70vh;
    }
}