* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background: #282827;
  background: #1b1b1a;
}

h1, h2, h3, h4, h5, h6, i, p, a, input, textarea {
  font-size: 1em;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

.nav {
  height: 7vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto;
      grid-template-columns: 10% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 3;
  background: #282827;
  color: #ffffff;
}

.nav-mobile {
  -ms-grid-column-align: start;
      justify-self: start;
}

.nav-mobile-icon i {
  font-size: 1.8em;
  margin-left: 0.5em;
}

.nav-mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  -ms-grid-rows: 7% auto;
      grid-template-rows: 7% auto;
      grid-template-areas: "exit lay" "item lay";
  display: none;
}

.nav-mobile-menu-exit {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: exit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-mobile-menu-exit i {
  font-size: 1.8em;
  margin-left: 0.5em;
}

.nav-mobile-menu-items {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav-mobile-menu-items-item {
  background: #424240;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em 0em;
}

.nav-mobile-menu-items-item a {
  font-size: 1.8em;
  margin-left: 0.5em;
  text-decoration: none;
  color: #ffffff;
}

.nav-mobile-menu-overlay {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: lay;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

.nav-logo {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-right: 10%;
}

.nav-logo h3 {
  font-size: 1.8em;
  color: #ffffff;
}

.nav-logo h3 span {
  color: #F87D0C;
}

.nav-menu {
  display: none;
}

@media screen and (min-width: 767px) {
  .nav-mobile-icon i {
    font-size: 2em;
  }
  .nav-logo h3 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .nav-mobile {
    display: none;
  }
  .nav-logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 10%;
  }
  .nav-logo h3 {
    font-size: 2.2em;
  }
  .nav-menu {
    display: block;
    height: 100%;
    width: 90%;
  }
  .nav-menu ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
  .nav-menu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-menu ul li a {
    text-decoration: none;
    font-size: 1.6em;
    color: #ffffff;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
  }
  .nav-menu ul li a:focus, .nav-menu ul li a:hover {
    color: #F87D0C;
  }
}

.landing {
  background: url("https://metaman13.github.io/Hosting-company-layout/mobile.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #282827;
  opacity: 0.9;
  height: 70vh;
  width: 100%;
  z-index: 1;
}

.landing-content {
  position: relative;
  z-index: 2;
  height: 80%;
  width: 80%;
  -ms-flex-item-align: end;
      align-self: end;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing-content-header, .landing-content-subheader, .landing-content-text, .landing-content-button {
  width: 100%;
  color: #ffffff;
}

.landing-content-header h1, .landing-content-subheader h1, .landing-content-text h1, .landing-content-button h1 {
  font-size: 3.2em;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.landing-content-header h1 span, .landing-content-subheader h1 span, .landing-content-text h1 span, .landing-content-button h1 span {
  color: #F87D0C;
}

.landing-content-header h3, .landing-content-subheader h3, .landing-content-text h3, .landing-content-button h3 {
  font-size: 2.4em;
  color: #e6e6e6;
  margin-top: 0.2em;
  font-weight: 500;
}

.landing-content-header p, .landing-content-subheader p, .landing-content-text p, .landing-content-button p {
  font-weight: 400;
  margin-top: 0.4em;
  font-size: 1.6em;
  color: #d9d9d9;
}

.landing-content-header button, .landing-content-subheader button, .landing-content-text button, .landing-content-button button {
  font-weight: 400;
  margin-top: 0.6em;
  font-size: 2em;
  padding: 0.4em;
  border: none;
  outline: none;
  background: #F87D0C;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.6em;
  -webkit-transition: ease;
  transition: ease;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.landing-content-header button:focus, .landing-content-header button:hover, .landing-content-subheader button:focus, .landing-content-subheader button:hover, .landing-content-text button:focus, .landing-content-text button:hover, .landing-content-button button:focus, .landing-content-button button:hover {
  background: #ffffff;
  color: #282827;
}

@media screen and (min-width: 767px) {
  .landing {
    background: url("https://metaman13.github.io/Hosting-company-layout/tablet.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .landing-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 100%;
  }
  .landing-content-header, .landing-content-subheader, .landing-content-text, .landing-content-button {
    width: 80%;
  }
  .landing-content-header h1, .landing-content-subheader h1, .landing-content-text h1, .landing-content-button h1 {
    font-size: 3.6em;
  }
  .landing-content-header h3, .landing-content-subheader h3, .landing-content-text h3, .landing-content-button h3 {
    font-size: 3.2em;
  }
  .landing-content-header p, .landing-content-subheader p, .landing-content-text p, .landing-content-button p {
    font-size: 1.8em;
  }
  .landing-content-header button, .landing-content-subheader button, .landing-content-text button, .landing-content-button button {
    font-size: 2.2em;
  }
}

@media screen and (min-width: 1024px) {
  .landing {
    background: url("https://metaman13.github.io/Hosting-company-layout/desktop.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .landing-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 100%;
  }
  .landing-content-header, .landing-content-subheader, .landing-content-text, .landing-content-button {
    width: 60%;
  }
  .landing-content-header h1, .landing-content-subheader h1, .landing-content-text h1, .landing-content-button h1 {
    font-size: 4em;
  }
  .landing-content-header h3, .landing-content-subheader h3, .landing-content-text h3, .landing-content-button h3 {
    font-size: 3.6em;
  }
  .landing-content-header p, .landing-content-subheader p, .landing-content-text p, .landing-content-button p {
    font-size: 2em;
  }
  .landing-content-header button, .landing-content-subheader button, .landing-content-text button, .landing-content-button button {
    font-size: 2.4em;
    background: #F87D0C;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-container {
  width: 80%;
  height: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
}

.services-container-item {
  background: #353534;
  border-radius: 0.6em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% auto 15%;
      grid-template-rows: 30% auto 15%;
}

.services-container-item-name {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% auto;
      grid-template-rows: 40% auto;
      grid-template-areas: "icon" "title";
  background: #282827;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
}

.services-container-item-name-header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.services-container-item-name-icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  -ms-flex-item-align: end;
      align-self: end;
}

.services-container-item-name-header, .services-container-item-name-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.services-container-item-name-header h3, .services-container-item-name-icon h3 {
  font-size: 2.4em;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.services-container-item-name-header i, .services-container-item-name-icon i {
  font-size: 2.4em;
}

.services-container-item-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.services-container-item-info-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
      grid-template-areas: "icon tile";
  color: #ffffff;
}

.services-container-item-info-item-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tile;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-container-item-info-item-name h5 {
  font-size: 1.4em;
  font-weight: 500;
  color: #f2f2f2;
}

.services-container-item-info-item-icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-container-item-info-item-icon i {
  font-size: 1.4em;
  color: #1E655D;
}

.services-container-item-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-container-item-action button {
  font-weight: 500;
  font-size: 1.6em;
  padding: 0.6em;
  border: none;
  outline: none;
  border-radius: 0.6em;
  background: #F87D0C;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.6em;
  -webkit-transition: ease;
  transition: ease;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.services-container-item-action button:focus, .services-container-item-action button:hover {
  background: #ffffff;
  color: #282827;
}

@media screen and (min-width: 767px) {
  .services-container {
    width: 50%;
  }
  .services-container-item-name-header h3, .services-container-item-name-icon h3 {
    font-size: 2.6em;
  }
  .services-container-item-name-header i, .services-container-item-name-icon i {
    font-size: 2.6em;
  }
  .services-container-item-info-item-name h5 {
    font-size: 1.6em;
  }
  .services-container-item-info-item-icon i {
    font-size: 1.6em;
  }
  .services-container-item-action button {
    font-size: 1.8em;
    padding: 0.6em;
  }
}

@media screen and (min-width: 1024px) {
  .services-container {
    height: 80%;
    width: 75%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 2.4em;
  }
  .services-container-item {
    height: 100%;
  }
  .services-container-item-name-header h3, .services-container-item-name-icon h3 {
    font-size: 2.8em;
  }
  .services-container-item-name-header i, .services-container-item-name-icon i {
    font-size: 2.8em;
  }
  .services-container-item-info-item-name h5 {
    font-size: 1.8em;
  }
  .services-container-item-info-item-icon i {
    font-size: 1.8em;
  }
  .services-container-item-action button {
    font-size: 2em;
    padding: 0.6em;
  }
}

.about-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% auto;
      grid-template-rows: 20% auto;
  color: #ffffff;
}

.about-us-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  justify-self: center;
}

.about-us-header h3 {
  font-size: 2.8em;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.about-us-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 80%;
  justify-self: center;
}

.about-us-text p {
  font-size: 1.6em;
  line-height: 1.5;
  font-weight: 400;
  color: #e6e6e6;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
}

.about-us-text p:nth-child(2) {
  display: none;
}

.about-us-text p:nth-child(3) {
  display: none;
}

.about-us-image {
  display: none;
}

@media screen and (min-width: 767px) {
  .about-us {
    -ms-grid-rows: 30% auto;
        grid-template-rows: 30% auto;
  }
  .about-us-header h3 {
    font-size: 3.3em;
  }
  .about-us-text p:first-child {
    display: none;
  }
  .about-us-text p:nth-child(2) {
    display: block;
    font-size: 1.7em;
  }
}

@media screen and (min-width: 1024px) {
  .about-us {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 30% auto;
        grid-template-rows: 30% auto;
  }
  .about-us-header {
    width: 75%;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us-header h3 {
    font-size: 3.8em;
  }
  .about-us-text {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 60%;
  }
  .about-us-text p:first-child {
    display: none;
  }
  .about-us-text p:nth-child(2) {
    display: none;
  }
  .about-us-text p:nth-child(3) {
    display: block;
    font-size: 1.7em;
    -ms-flex-item-align: start;
        align-self: flex-start;
    justify-self: flex-end;
  }
}

.partners {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% auto;
      grid-template-rows: 20% auto;
}

.partners-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.partners-header h3 {
  font-size: 2.8em;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.partners-container {
  width: 80%;
  height: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.partners-container-item i {
  font-size: 3.6em;
  color: #ffffff;
  color: #e6e6e6;
}

.partners-container-item:first-child i {
  color: #00457C;
}

.partners-container-item:nth-child(2) i {
  color: #DB4437;
}

.partners-container-item:nth-child(3) i {
  color: #F4B400;
}

.partners-container-item:nth-child(4) i {
  color: #FF9900;
}

.partners-container-item:nth-child(5) i {
  color: #e6e6e6;
}

@media screen and (min-width: 767px) {
  .partners {
    -ms-grid-rows: 50% auto;
        grid-template-rows: 50% auto;
  }
  .partners-header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .partners-header h3 {
    font-size: 3.3em;
  }
  .partners-container {
    height: 100%;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .partners-container-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners-container-item i {
    font-size: 4em;
  }
}

@media screen and (min-width: 1024px) {
  .partners {
    -ms-grid-rows: 50% auto;
        grid-template-rows: 50% auto;
  }
  .partners-header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .partners-header h3 {
    font-size: 3.8em;
  }
  .partners-container {
    height: 100%;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    width: 60%;
  }
  .partners-container-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners-container-item i {
    font-size: 4.4em;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70vh 150vh 70vh 80vh;
      grid-template-rows: 70vh 150vh 70vh 80vh;
}

@media screen and (min-width: 375px) {
  .container {
    -ms-grid-rows: 70vh 150vh 60vh 70vh;
        grid-template-rows: 70vh 150vh 60vh 70vh;
  }
}

@media screen and (min-width: 767px) {
  .container {
    -ms-grid-rows: 70vh 150vh 50vh 20vh;
        grid-template-rows: 70vh 150vh 50vh 20vh;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    -ms-grid-rows: 70vh 70vh 70vh 30vh;
        grid-template-rows: 70vh 70vh 70vh 30vh;
  }
}
/*# sourceMappingURL=main.css.map */