*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: $sans;
    background: $black;
    background: darken($black, 5%);
}

h1,h2,h3,h4,h5,h6,i,p,a,input,textarea{
    font-size: 1em;
    font-weight: map-get($font-weight, "regular");
}

h1,h2,h3,h4,h5,h6{
    font-family: $robot;
}

img{
    display: block;
}